<section class='nowHiring'>
  <h1><a href="http://www.validas.com/">Validas</a></h1>
  <img class="banner" src="/images/hiring_ribbon.gif"/>
  <p>We're looking to beef up<br/>
     our software development<br/>
     team with some top-notch<br/>
     senior software engineers. Build<br/>scalable big-data systems and consumer-facing products in C# and Ruby using the latest tools and techniques. Work from home and be part of a fast-paced, fun-loving team. Sound interesting?<br/><br/><a href="http://code.validas.com/">JOB LISTINGS</a></p>
</section>
