// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

aside.sidebar section.aboutMe {
  h1 {
    margin-bottom: 8px;
  }
  img.left {
    margin-right: 8px;
    margin-bottom: 0px;
  }
}
